body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  background: url("back.jpg"); /* Replace "back.jpeg" with your image file name */
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: #333; /* Adjust the text color */
  margin-bottom: 1rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color:#8bd5e9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 1rem;
  color: #666; /* Adjust the text color */
}

button {
  background-color: #007bff; /* Change button color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0062cc; /* Adjust button hover color */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

#infected-tigers {
  margin-top: 1.5rem;
}
